# Cube of a Number (Without Parameters)

In [2]:
def cube():
  n=int(input("Enter no.: "))
  print("Cube is:",n*n*n)
cube()

Enter no.: 3
Cube is: 27

# Cube of a Number (With Parameters)

In [6]:
def cube(n):
  return(n*n*n)
a=int(input("Enter no.: "))
cub=cube(a)
print("Cube is:",cub)

Enter no.: 3
Cube is: 27

# Area of Circle (Without Parameters)

In [7]:
def ar():
  r=float(input("Enter radius: "))
  area=3.14*r*r
  print("Area is:",area)
ar()

Enter radius: 2
Area is: 12.56

# Area of Circle (With Prameters)

In [8]:
def ar(r):
  return(3.14*r*r)
n=float(input("Enter radius: "))
area=ar(n)
print("Area is:",area)

Enter radius: 2
Area is: 12.56

# Sum from n1 to n2 (Without Parameters)

In [11]:
def s():
  n1=int(input("Enter n1: "))
  n2=int(input("Enter n2: "))
  c=0
  for i in range(n1,n2+1):
    c=c+i
  print("Sum is:",c)
s()

Enter n1: 2
Enter n2: 7
Sum is: 27

# Sum from n1 to n2 (With Parameters)

In [12]:
def s(n1,n2):
  c=0
  for i in range(n1,n2+1):
    c=c+i
  return(c)
a=int(input("Enter n1: "))
b=int(input("Enter n2: "))
sums=s(a,b)
print("Sum is:",sums)

Enter n1: 2
Enter n2: 7
Sum is: 27

# Sum from n1 to n2 (Key Arguments)

In [16]:
def s(n1,n2):
  c=0
  for i in range(n1,n2+1):
    c=c+i
  return(c) 
sums=s(n2=7,n1=2)
print("Sum is:",sums)

Sum is: 27

# Sum from n1 to n2 (Default Arguments)

In [15]:
def s(n1=2,n2=7):
  c=0
  for i in range(n1,n2+1):
    c=c+i
  return(c)
ans=s(3)
print("Sum is:",ans)

Sum is: 25